.cell,.selected-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.calendar-dates{
    .date-cell{
        .cell:hover{
        background-color: rgba(128, 128, 128, 0.25);
        border-radius: 100%;
        }
    }
}
.selected-cell{
    // background-color: #AF125A;
    background-color: #F3E0EC;
    // background-color: white;
    // background-color: #EA638C;
    // background-color: #008e9b;
    color: black;
    font-weight: bolder;
    border-radius: 100%;
}
// background-color: rgb(229, 73, 99);