@import url('https://fonts.googleapis.com/css2?family=Acme&family=EB+Garamond:wght@400;600&display=swap');
.month-calendar{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    z-index: 1;
    padding: 25px;
    // background-color: white;
    // background-color: inherit;
    width: 300px;
    // border-right: 1px solid black;
}
    // display: flex;
    // justify-content: center;
    // align-items: center;
// 
// 