.day-interval{
    overflow: auto;
    overflow-x: hidden;
    // width: 650px;
    // font-size: 18px;
    display: flex;
    flex-direction: column;
    // justify-content: start;
    align-items: flex-start;
    background-color: white;
    color: black;
    width: calc(90vw - 450px);
    height: calc(100vh - 102px);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow:5px -5px 20px black ;
}
.day-view{
    padding-left: 300px;
}
.current-day{
    position: fixed;
    z-index:1;
    background-color: white;
    // background: linear-gradient(to right, #2d6a4f 0%,#081c15 100%);
    font-size: larger;
    align-self: flex-start;
    padding-left: 75px;
    width: calc(85vw - 450px);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}
// .header{
//     select{
//         background-color: none;
//     }
// }
// .time-line{
//     height: calc(80% - 20px);
//     // border: 1px solid black;
// }
// .time-interval{
//     // border: 1px solid black;
//     display: flex;
//     flex-direction: column;
//     height: 25px;
//     align-self: flex-start;    
//     // border: 1px solid black;
// }
.time-interval{
    display: flex;
    flex-direction: column;
    // padding: 10px;
    // height: 45px;
}
// .time{
//     display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // align-self: center;
// }
.one-interval{
    display: flex;
}
.time{
    box-sizing: border-box;
    // padding-bottom: 15px;
    // border: 1px 0px;
    position: relative;
    top:10px;
    // margin-top: 30px;
    width: 65px;
    // height: 15px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
hr{
        // width: 850px;
        width: calc(85vw - 500px);
        // width: 100%;
        height: 0.01ex;
        // background-color:#008e9b;
        background-color:rgba(128, 128, 128, 0.5);
        border: none;
    }
.time-format{
    // align-self: center;
    width: 45px;
    text-align: end;
    // border: 1px solid red;
}
.time-line{
    padding-top: 55px;
    width: 1104px;
    // position: static;
}
.hour-line{
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    width: calc(85vw - 500px);
    height: 45px;
}
.event{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    // width: 90%;
    // border: 1px solid red;
}
.no-event{
    display: none;
}
.event-wrapper{
    position: relative;
}
.display-event{
    // position:relative;
    position:absolute;
    // top:200px;
    // z-index:0;
    // background-color: #133C55;
    background-color: #14393c;
    padding:  0 500px;
    color: white;
    width: calc(80vw - 475px);
    border-radius: 5px;
    margin-left: 100px;
    opacity:0.75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // font-size: 18px;
    .icon{
        font-size: 14px;
    }
    span{
        span{
            padding: 0 5px;
        }
    }
}
// padding : 75px top 
// .event{
//     border-right:1px solid black;
//     border-left:1px solid black;
// }